{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container page-content">
        <h1>{{ "error.404.title"|trans }}</h1>
        <p>
            {{ "error.404.text"|trans}}
        </p>
    </div>
{% endblock %}