{% extends "::base.html.twig" %}
{% block body %}
<div class="container page-content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="fos_user_user_show">
                        <p>{{ 'page.user.resetting.confirm.message'|trans }}</p>
                        <a href="{{ path('user_show', {'username': user.username}) }}" class="btn btn-primary">{{ "page.user.resetting.confirm.seeprofile"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}