{% extends 'admin/admin.html.twig' %}

{% block admin_body %}
    <h2>Category creation</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary float-right"/>
        <a href="{{ path('admin_category_index') }}" class="btn btn-outline-secondary"><span class="oi oi-arrow-left"></span>&nbsp; Back to the list</a>        
    {{ form_end(form) }}
{% endblock %}
