body {
    background-color: #EAEAEA;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn, .close {
    cursor: pointer;
}

.card-link {
    color: #333333;
    font-weight: bold;
}

.menu-profile-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

img.profile-picture {
    border-radius: 50%;
}

#body {
    padding-top: 50px;
    flex: 1 0 auto;
}

#body .flashes {
    position: absolute;
    z-index: 99;
    top: 100px;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

#main-header {
    background: #FFFFFF url(../images/header.png) fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
}

#main-header .logo {
    margin: auto;
    font-weight: bold;
    font-size: 5em;
    color: #333333;
}

#main-header .logo .highlight {
    color: #3fabff;
}

nav .logo {
    height: 30px;
}

nav .nav-link {
    font-variant: all-petite-caps;    
}

#homepage .marketing {
    background: #3fabff;
    padding: 30px;
}

#homepage .marketing .item {
    display: flex;
    height: 200px;    
}

#homepage .marketing .item h2 {
    margin: auto;
    color: #FFFFFF;
}

#homepage .about .text {
    background: #FFFFFF;
    padding: 40px;
    text-align: justify;
}

#homepage .about .about-us .img div {
    background: url("../images/homepage/pen-idea-bulb-paper.jpg");    
}

#homepage .about .objectives .img div {
    background: url('../images/homepage/pexels-photo-437345.jpeg');
}
#homepage .about .about-us .img div,
#homepage .about .objectives .img div {
    height: 100%;
    background-size: 100%;
    background-position: center;
}

#homepage .about .title:after {
    content: "";
    position: absolute;
    height: 7px;
    width: 100px;
    background: #3fabff;
    bottom: -20px;
    left: 0;
}

#homepage #join-us {
    background: #3fabff;
    padding: 30px;
    color: #FFFFFF;
}

#main-footer {
    padding: 20px;
    background: #007ed8;
    color: #EAEAEA;
}

#main-footer a {
    color: #EAEAEA;
    font-weight: bold;
}

#login, #register, #confirmed, #post-list,
.page-content {
    padding: 50px 0;
}

#post-list .card {
    margin-bottom: 30px;
}

#post-list .card .post-category,
#post-list .card .post-category a {
    color: #AAAAAA;
}

#post-show .post-action {
    margin-bottom: 40px;
}

#post-show .post-date {
    color: #AAAAAA;
    font-weight: normal;
}

#post-show .post-content {
    margin-top: 30px;
    font-size: 1.2em;
}

#post-show .author .profile-picture {
    width: 50px;
    height: 50px;
}

#post-show .author .username {
    margin: 0;
}

#post-show .author .username a {
    color: #333;
    font-weight: 600;
}

#post-show .author .user-info {
    color: #AAAAAA;
    font-style: italic;
}

#user_show .posts article {
    margin-bottom: 30px;
}

#user_edit .profile-picture img {
    width: 100%;
}

#user_edit .profile-picture .image-upload {
    display: none;
}

#user_edit .profile-picture .image-upload-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}


