{% extends 'base.html.twig' %}

{% block body %}
<div id="homepage">
    <header id="main-header">
        <div class="text-uppercase logo">
            We <span class="highlight">make</span> web
        </div>
    </header>
    <div class="marketing">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center item">
                    <h2 class="">Partager ses connaissances</h2>
                </div>
                <div class="col-md-4 text-center item">
                    <h2 class="">Booster les initiatives</h2>
                </div>
                <div class="col-md-4 text-center item">
                    <h2 class="">Créer, ensemble</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="row no-gutters about-us">
            <div class="col-md-6 text">
                <h1 class="title">About <span class="font-weight-bold">us</span></h1>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci cum eius fugit. Eveniet a sequi culpa eos maiores vel provident sit, quos unde earum quam dolor illo impedit iusto, hic voluptatum vero quod placeat ex, labore ducimus quidem? Veniam, aliquam hic ipsam rerum cum commodi. Perferendis expedita impedit sequi incidunt?</p> 
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione error labore sunt excepturi ullam cupiditate at, assumenda voluptas optio voluptatibus officia illum accusantium, velit minima. Aut, veritatis exercitationem consequatur voluptatum odio magnam, repellat error provident repellendus animi rem vel fugiat minima deserunt voluptas labore! Ad minima quo amet eaque cumque.</p>  
                </div>
            </div>
            <div class="col-md-6 img">
                <div></div>
            </div>                        
        </div>  
        <div class="row no-gutters objectives">
            <div class="col-md-6 img">
                <div></div>
            </div>
            <div class="col-md-6 text">
                <h1 class="title">Objectives</h1>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci cum eius fugit. Eveniet a sequi culpa eos maiores vel provident sit, quos unde earum quam dolor illo impedit iusto, hic voluptatum vero quod placeat ex, labore ducimus quidem? Veniam, aliquam hic ipsam rerum cum commodi. Perferendis expedita impedit sequi incidunt?</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione error labore sunt excepturi ullam cupiditate at, assumenda voluptas optio voluptatibus officia illum accusantium, velit minima. Aut, veritatis exercitationem consequatur voluptatum odio magnam, repellat error provident repellendus animi rem vel fugiat minima deserunt voluptas labore! Ad minima quo amet eaque cumque.</p>        
                </div>
            </div>                 
        </div>
    </div>
    <div id="join-us">
        <div class="container">
            <h1 class="title">Join <span class="font-weight-bold">us</span></h1>    
            <div class="row">
                <div class="col-md-6">
                    <h4>You can join us on Discord</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-lg" value="https://discord.gg/kYWAyPh">                            
                        </div>
                    </div>
                </div>    
                <div class="col-md-6">
                    <h4>We are active on twitter !</h4>
                    <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#3fabff" href="https://twitter.com/WeMakeWebOrg">Tweets by WeMakeWebOrg</a> 
                </div>
            </div>                
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
